.footer{
    background-color: #f7c306;
    text-align: center;
    color: #FFF;
    font: bold;
    height: 25px;
}

.navbar {
    background-color: #29aae2  !important;
}

.navbar-default .navbar-brand{
    color: #FFF;
}
.navbar-light .navbar-nav .nav-link {
    color: #ECFFFF;
}
.navbar-light {
    border-color: #7a87de;
}

.bordamodify{
    width: 100%;
    height: 15%;
    text-align: center;
}

img{
    width: 30%;
    height: 30%;;
}

h3{
    margin-top: 5%;
  
}

table{
    margin-top: 5%;
    text-align: center;
  
       
}

td{
    vertical-align: middle;
}

