     <div class="container">

        <h3>Criar formulário</h3>
        <hr/>
        <row>
            <div class="input-group mb-3 col-md-6">
                <input type="text" class="form-control" placeholder="Nome do Formulário" aria-label="Username" aria-describedby="basic-addon1"
                ng-model="form.formName" />
            </div>
        </row>


        <br> 
        <br> 
        <br> 
        <div>

            <table class="table">
               <!--  <th>
                    <!-- Questões ->
                </th>
                <th>
                    Tipo da Questão
                </th>
                <!-- <th>
                    Alternativas
                </th> -->
                <tbody>
                    <tr ng-repeat="question in questionsToShow">
                        
                        <td>
                         
                        </td>
                        <td>
                            {{question.title}}
                        </td>
                        <td>

                            <div class="modal show" id="shw" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">

                                    </div>
                                </div>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>

        </div>

        <form class="form-group ">
            <div class="row">
                <div class="col-md-5 input-group-lg">
                    <input type="text" class="form-control" placeholder="Titulo da Questão" ng-model="question.title">

                    <br>
                    <br>

                </div>
                <div class="col-md-3">
                    <select class="form-control" id="alternative" ng-model="question.typeQuestion">
                        <option>Alternativa</option>
                        <option>Resposta aberta</option>
                    </select>
                </div>
            </div>
            <div ng-repeat="alternative in alternativesToQuestion">
                <div class="row">

                    <div class="input-group mb-3 col-md-5 formAlternative">
                        <input ng-model="alternative.alternativeContent" type="text" class="form-control">
                        <div class="input-group-append">
                            <button class="btn btn-danger" type="button">
                                <i class="material-icons">clear</i>
                            </button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="input-group mb-3 col-md-5 formAlternative" ng-show="question.typeQuestion === 'Alternativa'">
                    <input ng-model="alternative.alternativeContent" type="text" class="form-control" placeholder="Insira alternativa">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" ng-click="newAlternative(alternative,question)">
                            <i class="material-icons">add</i>
                        </button>
                    </div>
                </div>

                <div class="col">
                    <div class="float-left">
                        <div class="">
                            <button coltype="button" class="btn btn-success form-control adc" ng-click="addQuestion(question,alternativesToQuestion)">
                                Adicionar Questão
                            </button>
                        </div>
                    </div>

                </div>
            </div>

        </form>

        <br>
        <div class="col-md-12">
            <button coltype="button" class="btn btn-success float-right btn-lg" ng-click="addData(form)" style="width:20%">Criar</button>
        </div>
    </div>



