<div class="container">

  <div class="titulo">
    <h3>Competencias</h3>
  </div>
  <HR>
 <!-- Button trigger modal -->

<div class="row">
<div class="col-md-3">
    <div class="input-buscar-bg">
        <input type="text" ng-model="busca" class="form-control" placeholder="Busque pela competencia">
    </div>
    
  </div>
  <div class="col-md-6"></div>
  
  <div class="col-md-3">
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
          Adicionar
        </button>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form name="competenciaForm">
          <label for="nome">Nome:</label>
          <input class="form-control" type="text" ng-model="competencia.competenceName" name="nome" placeholder="nome da competencia" ng-required="true">
          <label for="descricao">Descrição</label>
          <textarea class="form-control" ng-model="competencia.competenceDescription" name="descricao" placeholder="informe a descricao da competencia" ng-required="true"></textarea>
          <br />
          <button  type="button" class="btn btn-primary" data-dismiss="modal" ng-click="adicionarCompetencia(competencia)" >Salvar</button>

      </form>
    </div>
    <div class="modal-footer">
            
    </div>
  </div>
</div>
</div>

<!--inicio modal 2-->

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Atualizar competencias</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="competenciaForm">
        
            <label for="nome">Nome:</label>
            <input class="form-control" type="text" ng-model="compSelecionado.competenceName" ng-value="compSelecionado.competenceName"  name="nome" placeholder="nome da competencia" ng-required="true">
            <label for="descricao">Descrição</label>
            <textarea class="form-control" ng-model="compSelecionado.competenceDescription" ng-value="compSelecionado.descriptionCompetence" name="descricao" placeholder="informe a descricao da competencia" ng-required="true"></textarea>
            
            <br />
            <button  class="btn btn-primary" data-dismiss="modal" ng-click="alterarCompetencia(compSelecionado)" >Atualizar</button>

        </form>
      </div>
      <div class="modal-footer">
              
      </div>
    </div>
  </div>
</div>


<!--fim modal 2-->

<!--inicio modal excluir-->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Atenção!</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">        
      <h5>Deseja realmente excluir este registro?</h5>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button  class="btn btn-warning" data-dismiss="modal" ng-click="deletarCompetencia(compSelecionado)" >Confirmar</button>              
    </div>
  </div>
</div>
</div>

<!--fim modal excluir-->
  
  <table ng-show="competencias.length > 0" class="table table-striped">
      <tr>
          <th>Código</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th></th>
          <th></th>
      </tr>
      <tr  ng-repeat="competencia in competencias | filter: busca | startFrom:currentPage*pageSize | limitTo:pageSize">
          <td>{{competencia.idCompetence}}</td>
          <td>{{competencia.competenceName}}</td>
          <td>{{competencia.competenceDescription}}</td>
          <td> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2" ng-click="copiarDadosModal(competencia)">Editar</button></td>
          <td> <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal3" ng-click="copiarDadosModal(competencia)">Excluir</button></td>
      </tr>
  </table>

  <nav aria-label="">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" ng-click="paginaAnterior()">Previous</a>
        </li>

        <div ng-if="currentPage > 1">
            <li class="page-item">
                <a class="page-link" ng-click="mudarPagina(currentPage-2)">{{currentPage - 1}}</a>
            </li>
        </div>
        <div ng-if="currentPage > 0">
            <li class="page-item">
                <a class="page-link" ng-click="mudarPagina(currentPage-1)">{{currentPage}}</a>
            </li>
        </div>

        <li class="page-item active">
            <a class="page-link">{{currentPage + 1}}
                <span class="sr-only">(current)</span>
            </a>
        </li>


        <div ng-if="(currentPage+2) <= paginaMax">

            <li class="page-item">
                <a class="page-link" ng-click="mudarPagina(currentPage+1)">{{currentPage + 2}}</a>
            </li>

        </div>
        <div ng-if="(currentPage+3) <= paginaMax">

            <li class="page-item">
                <a class="page-link" ng-click="mudarPagina(currentPage+2)">{{currentPage + 3}}</a>
            </li>

        </div>

        <li class="page-item">
            <a class="page-link" ng-click="paginaProxima()">Next</a>
        </li>
    </ul>
</nav>
</div>
