
    
   <!-- Button trigger modal -->

  
  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
  <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="departamentoForm">
            <div class="form-row">
              <div class="col-md-4">
                  <label for="nome">Nome</label>
                  <input class="form-control" type="text" ng-model="departamento.departmentName" name="nome" placeholder="nome do departamento" ng-required="true">

              </div>
              <div class="col-md-4">
                  <label for="status">Status</label>
                  <select class="form-control"placeholder="Selecione.." ng-model="departamento.departmentStatus" name="status">                     
                      <option value="A" selected >Ativo</option>
                      <option value="I">Inativo</option>
                  </select> 
              </div>
            </div>

           
            <label for="descricao">Descrição</label>
            <textarea class="form-control" ng-model="departamento.descriptionDepartment" name="descricao" placeholder="informe a descricao do departamento" ng-required="true"></textarea>
                      

        </form>
      </div>
      <div class="modal-footer">
          <button  class="btn btn-success" data-dismiss="modal" ng-click="adicionarDepartamento(departamento)" >Salvar</button>
      </div>
    </div>
  </div>
</div>
<!--fim do modal-->

<!--inicio modal 2-->

 <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Atualizar departamento</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="departamentoForm">
           
              <label for="nome">Nome:</label>
              <input class="form-control" type="text" ng-model="deparSelecionado.departmentName" ng-value="deparSelecionado.departmentName"  name="nome" placeholder="nome do departamento" ng-required="true">
              <label for="descricao">Descrição</label>
              <textarea class="form-control" ng-model="deparSelecionado.descriptionDepartment" ng-value="deparSelecionado.descriptionDepartment" name="descricao" placeholder="informe a descricao do departamento" ng-required="true"></textarea>
              <label for="status">Status</label>
              <select class="form-control" ng-model="deparSelecionado.departmentStatus">
                  <option value=""> Selecione</option>
                  <option value="A">Ativo</option>
                  <option value="I">Inativo</option>
              </select>
              <br />
              <button  class="btn btn-primary" data-dismiss="modal" ng-click="alterarDepartamento(deparSelecionado)" >Atualizar</button>
  
          </form>
        </div>
        <div class="modal-footer">
                
        </div>
      </div>
    </div>
  </div>

<!--fim modal 2-->

<!--inicio modal excluir-->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Atenção!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">        
        <h5>Deseja realmente exlcluir este registro?</h5>
      </div>
      <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button  class="btn btn-warning" data-dismiss="modal" ng-click="deletarDepartamento(deparSelecionado)" >Confirmar</button>              
      </div>
    </div>
  </div>
</div>

<!--fim modal excluir-->

  <!--inicio card-->

<div class="card  text-info bg-white border-success">         
    <div class="card-header text-center bg-transparent border-success">
      <h4 class="card-title" >Departamentos</h4>
    </div>

    <div class="card-body">

        <div class="row">
            <div class="col-md-3">
                <div class="input-buscar-bg">
                    <input type="text" ng-model="busca" class="form-control" placeholder="Pesquisar Departamentos">
                </div>
                
              </div>             
              
              <div class="col-md-3">
                  <button type="button" class="btn btn-outline-success  btn-sm" data-toggle="modal" data-target="#exampleModal">
                      <i class="material-icons">add</i> 
                    </button>
            </div>
          </div>

      <table ng-show="departamentos.length > 0" class="table table-hover table-sm">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Status</th> 
                <th>Opções</th>
               
            </tr>

        </thead>
        <tbody>
        <tr ng-repeat="departamento in departamentos | filter: busca | startFrom:currentPage*pageSize | limitTo:pageSize">
            <td>{{departamento.idDepartment}}</td>
            <td>{{departamento.departmentName}}</td>
            <td>{{departamento.descriptionDepartment}}</td>
            <td>{{departamento.departmentStatus}}</td>
            <td> <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal2" ng-click="copiarDadosModal(departamento)"><i class="material-icons">edit</i></button>
              <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal3" ng-click="copiarDadosModal(departamento)"><i class="material-icons">delete</i></button>
            </td>           
        </tr>
      </tbody>
      </table>
    </div>

    <div class="card-footer bg-transparent border-success">
        <!-- paginação -->
        <nav aria-label="">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" ng-click="paginaAnterior()">Anterior</a>
                </li>
      
                <div ng-if="currentPage > 1">
                    <li class="page-item">
                        <a class="page-link" ng-click="mudarPagina(currentPage-2)">{{currentPage - 1}}</a>
                    </li>
                </div>
                <div ng-if="currentPage > 0">
                    <li class="page-item">
                        <a class="page-link" ng-click="mudarPagina(currentPage-1)">{{currentPage}}</a>
                    </li>
                </div>
      
                <li class="page-item active">
                    <a class="page-link">{{currentPage + 1}}
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
      
      
                <div ng-if="(currentPage+2) <= paginaMax">
      
                    <li class="page-item">
                        <a class="page-link" ng-click="mudarPagina(currentPage+1)">{{currentPage + 2}}</a>
                    </li>
      
                </div>
                <div ng-if="(currentPage+3) <= paginaMax">
      
                    <li class="page-item">
                        <a class="page-link" ng-click="mudarPagina(currentPage+2)">{{currentPage + 3}}</a>
                    </li>
      
                </div>
      
                <li class="page-item">
                    <a class="page-link" ng-click="paginaProxima()">Próximo</a>
                </li>
            </ul>
        </nav>
    </div>
    
</div>

 

  

