

    <!-- Modal adicionar -->
    <div class="modal fade bd-example-modal-lg" id="adc" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="false">
        <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">Adicionar cargo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                       
                        <div class="form-group">
                            <label for="nomeCargo">Cargo</label>
                            <input type="text" class="form-control" id="1" ng-model="Jobadd.jobName">

                        </div>
                        <div class="form-group">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
                            <label for="nomeCargo">Descrição</label>
                            <textarea class="form-control" id="1" ng-model="Jobadd.descriptionJob"></textarea>
                        </div>
                        
                        <div class="form-row">
                                <div class="col-md-4 form-group">
                                        <label for="departamento">Departamento</label>
                                        <select class="form-control" ng-model="Jobadd.department">
                                             <option value=""> Selecione</option>
                                            <option ng-repeat="dep in departamentos" value="{{dep}}">{{dep.departmentName}}</option>                                
                                        </select>
                                        
                                </div> 
                                <div class="col-md-2 form-group">
                                        <label for="exampleInputPassword1">Status</label>
                                        <select class="form-control" ng-model="Jobadd.statusJob" ng-options="op as op for op in jobstatus">
                                            <option value=""> Selecione</option>
                                        </select>
                                </div>                                    
                        </div>

                        
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="adicionarcargo(Jobadd); vincularCargoADepart(depSelected, Jobadd);" data-dismiss="modal">Confirmar</button>
                </div>
            </div>
        </div>
    </div>  
    <!-- Fim do modal adicionar -->
   
    <!--inicio card-->
    <div class="card text-info bg-light  border-warning"> 
                    
          <div class="card-header text-center bg-transparent border-warning">  
             <!-- <div class="row">  
                  <nav aria-label="">            
                    <ul class="pagination justify-content-left">
                            <a href="#">
                                    <i class="material-icons">navigate_before</i>
                                </a>
                            
                    </ul>
            </nav> &nbsp;      -->     
              <h4 class="card-title" >Cargos</h4>         
            </div>
               
         
          <div class="card-body">   
                <div class="row">
                        <div class="col-md-3">
                                <div class="input-buscar-bg">
                                    <input type="text" ng-model="busca" class="form-control" placeholder="Pesquisar Cargos">
                                </div>                              
                        </div>                  
                        <div class="col-md-3">  <button class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#adc"> <i class="material-icons">add</i> </button></div>
                  </div>
                  
                <table class="table     table-hover table-sm">
                    <thead class="text-info">
                        <tr>
                            <th scope="col">Cargo</th>
                            <th scope="col">Departamento</th>
                            <th scope="col">Descrição</th>                            
                            <th scope="col">Status</th>                            
                            <th scope="col">Opções</th>                                                  
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="job in jobs | filter: busca | startFrom:currentPage*pageSize | limitTo:pageSize">

                            <td>{{job.jobName}}</td>
                            <td>{{job.departament.descriptionDepartament}}</td>                            
                            <td>{{job.descriptionJob}}</td>
                            <td>{{job.statusJob}}</td>
                            <td>  <div class="btn-edit-bg">

                                        <button class="btn btn-outline-primary  btn-edit" data-toggle="modal" data-target="#ww" ng-click="copiarDadosModal(job)"> <i class="material-icons">edit</i></button>
                                        <button class="btn btn-outline-danger btn-delete" data-toggle="modal" data-target="#jobDelete"  ng-click="copiarDadosModal(job)"> <i class="material-icons">delete</i></button>
                                    </div>
                            </td>                          
                        </tr>
                    </tbody>
                </table>
          </div>


        <div class="card-footer  bg-transparent border-warning">         
            
             <!-- paginação -->

          <nav style="position: bottom; display:center;" aria-label="">
                <ul class="pagination justify-content-center">
                    <li class="page-item">  
                        <a class="page-link" ng-click="paginaAnterior()">Anterior</a>
                    </li>
    
                    <div ng-if="currentPage > 1">
                        <li class="page-item">
                            <a class="page-link" ng-click="mudarPagina(currentPage-2)">{{currentPage - 1}}</a>
                        </li>
                    </div>
                    <div ng-if="currentPage > 0">
                        <li class="page-item">
                            <a class="page-link" ng-click="mudarPagina(currentPage-1)">{{currentPage}}</a>
                        </li>
                    </div>
    
                    <li class="page-item active">
                        <a class="page-link">{{currentPage + 1}}
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
    
    
                    <div ng-if="(currentPage+2) <= paginaMax">
    
                        <li class="page-item">
                            <a class="page-link" ng-click="mudarPagina(currentPage+1)">{{currentPage + 2}}</a>
                        </li>
    
                    </div>
                    <div ng-if="(currentPage+3) <= paginaMax">
    
                        <li class="page-item">
                            <a class="page-link" ng-click="mudarPagina(currentPage+2)">{{currentPage + 3}}</a>
                        </li>
    
                    </div>
    
                    <li class="page-item">
                        <a class="page-link" ng-click="paginaProxima()">Próximo</a>
                    </li>
                </ul>
            </nav>
            
                      
          </div>

     </div>
 
<!--fim card-->
   



        <!-- Modal Editar -->
        <div class="modal fade bd-example-modal-lg" id="ww" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="false">
            <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="">Cargo</h5>


                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-row">
                                    <div class="col-md-4 form-group">
                                            <label for="nomeCargo">Nome Cargo</label>
                                            <input type="text" class="form-control" ng-model="jobSelecionado.jobName" ng-value="jobSelecionado.jobName">
            
                                     </div> 
                                     <div class="col-md-2 form-group">
                                            <label for="statusCargo">Status</label>
            
                                            <select class="form-control" ng-model="jobSelecionado.statusJob" ng-options="op as op for op in jobstatus">
                                            </select>
            
                                    </div>   
                            </div>
                            
                            <div class="form-group">
                                <label for="descricaoCargo">Descrição</label>
                                <textarea class="form-control" ng-model="jobSelecionado.descriptionJob" ng-value="jobSelecionado.descriptionJob"></textarea>

                            </div>
                          

                        </form>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-primary" ng-click="updateJob(jobSelecionado)" data-dismiss="modal">
                            Confirmar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fim do Modal Editar -->

    <!--inicio modal excluir-->
<div class="modal fade" id="jobDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="jobDelete">Atenção!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">        
          <h5>Deseja realmente exlcluir este registro?</h5>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button class="btn btn-warning" data-dismiss="modal" ng-click="deleteJob(jobSelecionado)">Confirmar</button>              
        </div>
      </div>
    </div>
  </div>
  
  <!--fim modal excluir-->

</div>
</div>