    <div class="container">

        <h3>Pesquisas em Andamento</h3>

        <hr/>
        
        <div class="row">
            <div class="input-buscar-bg col-md-6">
                <input type="text" ng-model="busca" class="form-control" placeholder="Busque pelo Formulário">
            </div>
            
          <button coltype="button" class="btn  btn-success col-md-3" ng-click="getData2(forms)" data-toggle="modal" data-target="#adc">Criar formulário old</button> 
          &nbsp;
          <a class="btn  btn-success col-md-3" href="#!/addForm">Criar formulário</a>
        </div>
        <br>
        <br>
        <div class="row">

            <table class="table">
              <th>
                Nome
            </th>
            <th>
                Criador
            </th>
            <th>
                status
            </th>
            <tbody>
                <tr ng-repeat="form in formularios | filter: busca ">
                  <td>
                    <i class="large material-icons">description</i>
                </td>
                <td>
                    {{form.formName}}
                </td>
                 <td>
                    {{form.createdFormBy}}
                </td>
                <td>
                    {{form.createdFormBy}}
                </td>
                <td>
                    {{form.formStatus}}
                </td>
                 
                    </tr>
                </tbody>
            </table>

        </div>

        <!-- Modal adicionar-->
        <div class="modal show" id="adc" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="">Questões</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div  ng-repeat="question in formSelecionado.questions">
                            <h3>{{question.title}}</h3>
                            
                        </div>

                        <!-- <div ng-if="question.typeQuestion == 'Alternativa'" ng-repeat="question in questions">
                            <h3>{{question.title}}</h3>
                            <h3>JOAO</h3>
                            <div ng-repeat="alternative in alternatives">
                                <input type="checkbox"> {{alternative.alternativeContent}}
                            </div>
                        </div> -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sucess" ng-click="adicionarcargo(Jobadd)" data-dismiss="modal">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fim do modal adicionar -->

        <br>
    </div> 

