<div class="containet">

    <div class="titulo">
        <h3>Usuários</h3>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-3">
            <div class="input-buscar-bg">
                <input type="text" ng-model="busca" class="form-control" placeholder="Busque pelo usuario">
            </div>
        </div>

        <div class="col-md-6"></div>
        <div class="col-md-3">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                Adicionar
            </button>
        </div>
    </div>
    <!-- Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form name="usuarioForm">
                        <label for="nome">Nome:</label>
                        <input class="form-control" type="text" ng-model="" name="nome" placeholder="nome do usuario" ng-required="true">
                        <label for="email">E-mail:</label>
                        <input class="form-control" type="email"  ng-model="" name="email" placeholder="email do usuario" ng-required="true">
                        <label for="data">Data de nascimento:</label>
                        <input class="form-control" type="date" ng-model="" ng-required="">
                        <label for="cpf">CPF:</label>
                        <input class="form-control" type="text" ng-model="" ng-required="">
                        <label for="status">Status</label>
                        <select class="form-control" ng-model="" name="">
                            <option value="A" selected>Ativo</option>
                            <option value="I">Inativo</option>
                        </select>

                    </form>
                </div>

            </div>
        </div>
    </div>

</div>